
body {
  font-family: sans-serif;
  text-align: center;
  margin: 2em;
  background: #fdfdfd;
}
button {
  padding: 1em 2em;
  font-size: 1.2em;
  margin-top: 1em;
  background: #222;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
button:hover {
  background: #555;
}
